.btn {
  padding: 0.65rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 150ms ease-in;
}

.btn.primary {
  background-color: var(--primary);
  color: var(--text-primary-color);
}

.btn.primary:hover {
  background-color: var(--primary-hover);
}

.btn.secondary {
  background-color: var(--secondary);
  color: var(--text-secondary-color);
}

.btn.secondary:hover {
  background-color: var(--secondary-hover);
}

.btn.danger {
  background-color: var(--danger);
  color: #fff;
}

.btn.danger:hover {
  background-color: var(--danger-hover);
}

.btn:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: var(--disabled-bg-color);
}
